@keyframes transform-none{
  100%{
    opacity: 1;
    transform: none;
  }
}
.app-header {
	/* 0% */
	opacity: 0;
	transform: translateY(-4rem);
	/* 100% */
  animation-name: transform-none;
  animation-duration: 0.4s;
  animation-fill-mode: forwards;
}