body{
  background-color: #ffffff;
  color: #181818;
}  
.is-open-menu{
  border: 0;
  background: transparent;
  padding: 0;
}
.is-open-menu .ir{
  display: block;
  width: 26px;
  height: 22px;
  background-color: #ffff00;
  background-image: url("./../images/navigation-button.gif");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  padding: 10px;
  cursor: pointer;
}
/* #ir에 마우스를 올렸을 때 */
/* .is-open-menu .ir:hover{
  background: #999;
} */